html, body {
  margin: 0;
  padding: 0;
}

button {
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}

:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--background-color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-primary: 'Arbutus Slab', serif;
  --color-text-primary: #f1f9e8;
  --background-color-primary: #1c1c1c;
  --background-color-secondary: #242424;
  --background-color-tertiary: #0f1113;
}