.cardDisplay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.flipButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 5px 9px;
  font-size: 0.8rem;
  background: var(--background-color-primary);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.flipButton:hover {
  background: var(--background-color-secondary);
}
